@import 'bootstrap/dist/css/bootstrap.css';

html, body {
    background-color: var(--secondary);

    width: 100vw;
    height: 100vh;
}

#app {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    font-weight: normal;
}

main {
    height: 20rem;
}

.container-lg {
    padding: 0;
}
